h1 {
  color: #27aedb;
  text-align: center;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: fixed;
  width: 100%;
}

.report-service-main-content {
  display: flex;
  overflow: auto;
}

.report-service-menu {
  width: 15%;
}

.report-service-header {
  position: relative;
}

.report-service-content {
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  height: 93vh;
  overflow-x: hidden;
  overflow-x: auto;
  text-align: justify;
}
