h1 {
  color: #27aedb;
  text-align: center;
}

.report_main {
  display: flex;
}

.navigation_menu {
  width: 10%;
  background: #27aedb;
}

.navigation_menu button {
  width: 150px;
}

.content {
  width: 100%;
}
