.information_message {
  position: absolute;
  width: 80%;
  margin: 10px;
}

.information_message .message {
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  margin: 10px 0px;

  margin-left: 10%;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  width: 100%;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

.action_button {
  margin-left: 80%;
}

.information_message > .warning {
  background: rgba(255, 255, 0, 1);
}

.information_message > .info {
  background: rgba(30, 139, 195, 1);
}

.information_message > .error {
  background: rgba(255, 0, 0, 1);
}