.modal {

}

.modal_header {
  position: relative;
}

.modal_main {
  display: flex;
  overflow: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

.modal_content {
  width: 100%;
  margin: 4px, 4px;
  padding: 4px;
  width: 100%;
  height: 650px;
  min-height: 300px;
  max-height: 750px;
  overflow-x: auto;
  text-align: justify;
}

.modal_info {
  width: 100%;
  height: 100%;
}

.report-service-menu {
  width: 15%;
}