.header {
  top: 0;
  background: #85C1E9;
  position: sticky;
}

.calendar.section {
  display: flex;
}

.date_range {
  display: flex;
  color: blue;
  font-weight: bold;
}

.calendar-wrapper {
  position: absolute;
}

.calendar-wrapper.end-date {
  margin-left: 350px;
}